.page-header {
    background: #000;
    border: 0;
    color: #FC0;
    padding: 15px;
}

.page-header.title {
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
}

.sidebar {
    background: #FC0;
}

.sidebar-class {
    background: #000;
    border: 1px solid #000 !important;
}

.sidebar-class * span {
    color: #FC0 !important;
    font-size: 14px !important;
    font-style: italic;
    cursor: pointer;
}
